/* Common */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: gray;
    color: mintcream;
    padding-left: 10px;
    overflow:hidden;
}

.menu {
    overflow: hidden;
    background-color: #333;
}
  
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}
  
.menu a:hover {
    background-color: #ddd;
    color: black;
}
  
.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.footer {
    margin-top: 20px;
    display: block;
    overflow: hidden;
    background-color: #333;
}

.footer a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.footer a:hover {
    background-color: #ddd;
    color: black;
}

.footer span {
    color: papayawhip;
}

/* Home */
#homeImages img {
    margin: 10px;
    height: 650px;
    max-width: 97%;
}

#shortIntro {
    padding-left: 10px;
    margin-bottom: 50px;
}

#shortIntro p{
    font-size: 20px;
}

#boxSection {
    display: inline-block;
    width: 100%;
}

.boxContent {
    float: left;
    width: 33%;
    text-align: center;
}

.boxIcon{
    height: 180px;
}

/* Works */
.projectSection{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.projectImage {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    max-width: 97%;
    height: auto;
    float: left;
}

.projectDescription {
    margin-left: 10px;
    padding-right: 10px;
    text-align:justify;
}

/* Gallery */
.gallerySection {
    display: inline-block;
}

div.galleryDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width: 600px;
    height: 300px;
    box-shadow: 5px 10px 8px #888888;
}

div.galleryDiv img {
    width: 100%;
}

  /* About */
#bioSection {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

#bioImage {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 45px;
    max-width: 100%;
    height: auto;
    float: left;
}

#bioDescription {
    margin-left: 10px;
    padding-right: 50px;
    text-align:justify;
}

#bioUl, #bioOl {
    list-style-position: inside;
}

#messageSection {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#messageForm {
    width: 500px;
}

.messageDiv {
    margin-bottom: 10px;
}

.messageLabel {
    width: 75px;
    display: block;
    float: left;
}

#name, #email {
    width: 300px;
}

#messageArea {
    resize: none;
}